* {
    margin: 0;
    padding: 0;
}

// FYI variables do actually exist in CSS
// :root {
//     --banner-height: 200px;
// }

//#region mixins
@mixin col() {
    display: flex;
    flex-direction: column;
}

@mixin colr() {
    display: flex;
    flex-direction: column-reverse;
}

@mixin row() {
    display: flex;
    flex-direction: row;
}

@mixin rowr() {
    display: flex;
    flex-direction: row-reverse;
}

@mixin radius($tl, $tr, $br, $bl) {
    -moz-border-radius: $tl $tr $br $bl;
    -webkit-border-radius: $tl $tr $br $bl;
    border-radius: $tl $tr $br $bl;
}
//#endregion

body {
    margin: 0;
    padding: 0;
    @include col();
}

$banner-height: 200px;

// nesting
// margin, padding, border
banner {
    @include row();
    background-color: white;
    height: $banner-height;
    width: 100vw; // solid
    z-index: 100;

    .logo {
        margin-left: 24px;
        height: $banner-height;
        img {
            height: $banner-height;
        }
    }

    .eenblik {
        height: $banner-height;
        width: 100%;
        background-image: url("/pic/c7d6aa0dd51e747092c58378f9499f3e.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // with img tags
        //object-fit: cover;
        //object-position: center;

        .fade-gradient {
            height: $banner-height;

            background: linear-gradient(
                73.93deg,
                #ffffff 29.7%,
                rgba(255, 255, 255, 0) 81.73%,
                rgba(255, 255, 255, 0) 100%
            );
        }
    }
}

$navbar-height: 50px;

navbar {
    background-color: green;
    height: $navbar-height;
    width: 100vw; // solid
    @include col();
    @include radius(8px, 8px, 8px, 8px);
}

.container {
    min-height: calc(100vh - ($banner-height + $navbar-height));
    width: 80vw;
    @include col();
    background-color: rgb(190, 190, 190);
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: green;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}
